<!--<p *ngFor="let item of userData">{{item.name.first}} - {{item.name.last}} </p>-->

<div class="row">
  <div class="col-3" *ngFor="let user of userData ; let i = index">
    <div class="card">
        <img class="card-img-top" src="{{ user.picture.large }}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">{{user.name.first}} - {{user.name.last}}</h5>
        <p class="card-text">Domicile : {{user.location.city}}-{{user.location.street}}. Contact: {{user.email}}.With supporting text below as a natural lead-in to additional content.</p>
        <a [routerLink]= "['/user', i]" class="btn btn-primary">Go to the profil</a>
      </div>
    </div>
  </div>
