<div class="container-fluid">
  <div class="container">
    <nav>
      <ul>
        <li class="nav-item">
          <a class="nav_item custom-link-icon" routerlink="/home">
            <i class="material-icons" style="font-size:1.6em!important; font-weight:200!important; color:#43b8d0 !important ">home
            </i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link home-link" routerlink="/home">home</a>
        </li>
      </ul>
    </nav>
  </div>
</div>